{% load static %}
<footer>
    <div class="d-flex px-5 py-2 justify-content-between align-items-center" id="footer-first">
        <div style="width: 300px;">
            <img src="{% static 'images/footer-logo.png' %}" alt="footer" class="footer-logo">
            <div>
                <p>Call now: </p>
                <p style="color: white">+603-7832 1928</p>
            </div>
            <p>Pacific Place Commercial Centre, Unit B-3-3 Jalan PJU 1A/4, Ara Damansara 47301, Petaling Jaya, Selangor Darul Ehsan</p>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><a href="">Home</a></li>
                <li><a href="">Find Jobs</a></li>
                <li><a href="">Hiring Advice</a></li>
                <li><a href="">Companies</a></li>
            </ul>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex px-5 pt-2 pb-4 justify-content-between align-items-center">
        <div>
            <p class="m-0">&copy; 2025 NASOM - Job Portal. All rights Reserved</p>
        </div>
        <div class="d-flex align-items-center">
            <a href="https://facebook.com" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="https://youtube.com" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="d-flex align-items-center">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>

</footer>