{% load static %}
<footer>
    <div class="d-flex px-5 pt-2 pb-4 justify-content-between align-items-center">
        <div>
            <p class="m-0">&copy; 2025 NASOM - Job Portal. All rights Reserved</p>
        </div>
        <div class="d-flex align-items-center">
            <a href="https://facebook.com" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="https://youtube.com" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="d-flex align-items-center">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</footer>