{% load static %}
<footer>
{% if user.is_authenticated %}
    <div class="d-flex px-5 py-2 justify-content-between align-items-center" id="footer-first">
        <div style="width: 300px;">
            <img src="{% static 'images/footer-logo.png' %}" alt="footer" class="footer-logo">
            <div>
                <p>Call now: </p>
                <p style="color: white">+603-7832 1928</p>
            </div>
            <p>Pacific Place Commercial Centre, Unit B-3-3 Jalan PJU 1A/4, Ara Damansara 47301, Petaling Jaya, Selangor Darul Ehsan</p>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><b>Candidate</b></li>
                <li><a href="{% url 'applicant_profile' %}">Home</a></li>
                <li><a href="{% url 'landing_applicant' %}">Find Jobs</a></li>
                <li><a href="{% url 'applied_list' %}">Job Application</a></li>
                <li><a href="{% url 'saved_list' %}">Saved Jobs</a></li>
            </ul>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><b>Employers</b></li>
                <li><a href="{% url 'employer_profile' %}">Home</a></li>
                <li><a href="{% url 'landing_employer' %}">Find Candidate</a></li>
                <li><a href="{% url 'view_job_table' %}">My Job Ads</a></li>
                <li><a href="{% url 'applicant_list' %}">Manage Applicants</a></li>
            </ul>
        </div>
    </div>
{% else %}
    <div class="d-flex px-5 py-2 justify-content-between align-items-center" id="footer-first">
        <div style="width: 300px;">
            <img src="{% static 'images/footer-logo.png' %}" alt="footer" class="footer-logo">
            <div>
                <p>Call now: </p>
                <p style="color: white">+603-7832 1928</p>
            </div>
            <p>Pacific Place Commercial Centre, Unit B-3-3 Jalan PJU 1A/4, Ara Damansara 47301, Petaling Jaya, Selangor Darul Ehsan</p>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><a href="{% url 'login_user' %}">Home</a></li>
                <li><a href="{% url 'landing_applicant' %}">Find Jobs</a></li>
                <li><a href="{% url 'hiring_advice' %}">Hiring Advice</a></li>
                <li><a href="{% url 'search_company' %}">Companies</a></li>
            </ul>
        </div>
        <div style="width: 300px;">
            <ul class="footer-list">
                <li><a href="{% url 'login_user' %}">Login</a></li>
                <li><a href="{% url 'register_user' %}">Register</a></li>
            </ul>
        </div>
    </div>
{% endif %}
    <div class="d-flex px-5 pt-2 pb-4 justify-content-between align-items-center">
        <div>
            <p class="m-0">&copy; 2025 NASOM - Job Portal. All rights Reserved</p>
        </div>
        <div class="d-flex align-items-center">
            <a href="https://www.facebook.com/nasomcares" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="https://www.youtube.com/@nasomthenationalautismsoci8854" target="_blank" class="me-3 d-flex align-items-center">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/nasomcares" target="_blank" class="d-flex align-items-center">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div>
</footer>