{% extends "base.html" %}
{% load static %}
{% block title %}Change Password | Job Hiring Portal{% endblock %}

{% block header %}
    {% include "headers/header2.html" %}
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include "sidebars/sidebar1.html" %}
    <main class="w-100 change-password-container">
        <div class="change-password-card">
            <h4 class="change-password-title">Change Password</h4>
            <form method="post" action="" id="change-password-form" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="password-input-group">
                    <label for="id_old_password" class="form-label">Current Password</label>
                    <div class="input-group">
                        <input type="password" name="old_password" class="form-control" id="id_old_password" placeholder="Enter current password" required>
                        <button class="btn btn-outline-secondary toggle-password" type="button" tabindex="-1" data-target="id_old_password"><i class="fa fa-eye"></i></button>
                    </div>
                </div>
                <div class="password-input-group">
                    <label for="id_new_password1" class="form-label">New Password</label>
                    <div class="input-group">
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="Enter new password" required>
                        <button class="btn btn-outline-secondary toggle-password" type="button" tabindex="-1" data-target="id_new_password1"><i class="fa fa-eye"></i></button>
                    </div>
                    <div class="password-strength-meter">
                        <div id="password-strength-bar" class="password-strength-bar" role="progressbar" style="width: 0%;"></div>
                    </div>
                    <small id="password-strength-text" class="password-strength-text"></small>
                </div>
                <div class="password-input-group">
                    <label for="id_new_password2" class="form-label">Confirm New Password</label>
                    <div class="input-group">
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="Re-enter new password" required>
                        <button class="btn btn-outline-secondary toggle-password" type="button" tabindex="-1" data-target="id_new_password2"><i class="fa fa-eye"></i></button>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary change-password-btn">Change Password</button>
            </form>
        </div>
    </main>
</div>
{% endblock %}

{% block footer %}
    {% include "footers/footer2.html" %}
{% endblock %}

