{% extends "base.html" %}
{% load static %}
{% block title %}Job Hiring Portal{% endblock %}

{% block header %}
        {% include "headers/header3.html" %}
{% endblock %}

{% block content %}
        {% include "search/search2.html" %}
        <div class="container mb-5">
                        <div id="lower-layout" class="row row-cols-1 row-cols-md-2 g-3">
                        {% for applicant in applicants %}
                                <div class="col">
                                        {% include "applicantcards/applicant_card2.html" with applicant=applicant %}
                                </div>
                        {% endfor %}
                                
                        <!-- Add more items as needed -->
                        </div>
                </div>
{% endblock %}

{% block footer %}
        {% include "footers/footer2.html" %}
{% endblock %}