{% load static %}
<nav class="sidebar d-flex flex-column justify-content-between px-3 py-4 gap-4 bg-white shadow rounded-3" style="min-width:220px; min-height:100vh;">
    <div class="upper-part d-flex flex-column gap-4">
        <!-- Logo/Icon -->
        <div class="d-flex align-items-center gap-2 mb-2">
            <h6 class="fw-bold mb-0">Applicant Dashboard</h6>
        </div>
        <div class="sidebar-navigation d-flex flex-column gap-1">
            <a href="{% url 'applicant_profile' %}" class="sidebar-navigation-element {% if request.resolver_match.url_name == 'applicant_profile' %}sidebar-navigation-element-selected{% endif %}">Profile</a>
            <a href="{% url 'saved_list' %}" class="sidebar-navigation-element {% if request.resolver_match.url_name == 'saved_list' %}sidebar-navigation-element-selected{% endif %}">Saved Jobs</a>
            <a href="{% url 'applied_list' %}" class="sidebar-navigation-element {% if request.resolver_match.url_name == 'applied_list' %}sidebar-navigation-element-selected{% endif %}">Applied Jobs</a>
            <a href="{% url 'change_password' %}" class="sidebar-navigation-element {% if request.resolver_match.url_name == 'change_password' %}sidebar-navigation-element-selected{% endif %}">Setting</a>
        </div>
    </div>
    <hr class="my-2">
    <div class="d-flex flex-column gap-2">
        <a href="{% url 'landing_employer' %}" class="bottom-side-nav-element">Switch To Employer Account</a>
        <form class="bottom-side-nav-element" method="post" action="{% url 'logout' %}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger w-100 py-2" style="border-radius:8px;">Log Out</button>
        </form>
    </div>
</nav>