<nav class="sidebar d-flex flex-column justify-content-between px-3 py-4 gap-5">
    <div class="upper-part d-flex flex-column gap-3">
        <h6>Employer Dashboard</h6>
        <div class="sidebar-navigation d-flex flex-column">
            <a href="{% url 'employer_profile' %}" class="sidebar-navigation-element">Company Profile</a>
            <a href="{% url 'view_job_table' %}" class="sidebar-navigation-element">My Job Ads</a>
            <a href="{% url 'applicant_list' %}" class="sidebar-navigation-element">Manage Applicant</a>
        </div>
    </div>
    <div class="d-flex flex-column">
        <a href="{% url 'landing_applicant' %}" class="bottom-side-nav-element">Switch To Applicant Account</a>
        <form class="bottom-side-nav-element" method="post" action="{% url 'logout' %}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class=" text-danger" style="border: none; background: none; padding: 0;">
                Log Out
            </button>
        </form>
    </div>
</nav>