{% extends "base.html" %}
{% load static %}
{% block title %}Job Hiring Portal{% endblock %}

{% block header %}
        {% include "headers/header3.html" %}
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include "sidebars/sidebar2.html" %}
    <main class="d-flex flex-column gap-2  w-100">
        <div class="d-flex text-light bg-dark px-4 py-3">
            <h5>Company Profile</h5>
        </div>
        
    </main>
</div>

<script>

</script>

{% endblock %}

{% block footer %}
        {% include "footers/footer2.html" %}
{% endblock %}

