{% extends "base.html" %}
{% load static %}
{% block title %}Job Hiring Portal{% endblock %}

{% block header %}
        {% include "headers/header3.html" %}
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include "sidebars/sidebar2.html" %}
    <main class="d-flex flex-column gap-2  w-100">
        <div class="d-flex text-light bg-dark px-4 py-3">
            <h5>My Job Ads</h5>
        </div> 
        <div class="px-5">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th class="col-jobs">Jobs</th>
                        <th class="col-status text-center">Status</th>
                        <th class="col-apps text-center">Applications</th>
                        <th class="col-action text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Mark</td>
                        <td class="text-center text-success">Active</td>
                        <td class="text-center">25</td>
                        <td class="text-center">
                            <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ☰ 
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </main>
</div>

<script>

</script>

{% endblock %}

{% block footer %}
        {% include "footers/footer2.html" %}
{% endblock %}

