{% load static %}
<div class="jobcard-wrapper">
  <input type="hidden" name="job_id" value="123">

  <div class="jobcard-title">{{application.job_ad.job_title}}</div>

  <div class="jobcard-status mb-2">
    {% if application.application_status == 'pending' or application.application_status == 'shortlisted' %}
      <span class="badge bg-primary">{{ application.get_application_status_display }}</span>
    {% elif application.application_status == 'accepted' or application.application_status == 'called' %}
      <span class="badge bg-success">{{ application.get_application_status_display }}</span>
    {% elif application.application_status == 'rejected' %}
      <span class="badge bg-danger">{{ application.get_application_status_display }}</span>
    {% else %}
      <span class="badge bg-secondary">{{ application.get_application_status_display }}</span>
    {% endif %}
  </div>

  {% if application.application_status != 'called' %}
  <div class="jobcard-date">Date Applied: {{application.display_applied_date}}</div>
  {% endif %}

  <div class="jobcard-salary">Salary: RM {{application.job_ad.minimum_salary}} - RM {{application.job_ad.maximum_salary}}</div>

  <div class="jobcard-company-info">
    <div class="jobcard-company-details">
      <div class="jobcard-company-logo m-2">
        {% if application.job_ad.user.company_logo.url %}
          <img src="{{ application.job_ad.user.company_logo.url }}" alt="Company Logo" class="jobcard-logo-img">
        {% else %}
          <img src="{% static 'images/no-image.png' %}" alt="No Logo" class="jobcard-logo-img">
        {% endif %}
      </div>
      <div>
        <div class="jobcard-company-name">{{application.job_ad.user.company_name}}</div>
        <div class="jobcard-company-location">
          <i class="fas fa-map-marker-alt"></i> {{application.job_ad.get_city}}, {{application.job_ad.get_state}}
        </div>
      </div>
    </div>
  </div>

  {% if application.application_status == 'called' %}
    <a href="{% url 'view_job_ad' application.job_ad.id %}" class="btn btn-success btn-sm w-100 mt-3">Apply Now</a>
  {% endif %}
</div>
