{% extends "base.html" %}
{% load static %}
{% block title %}Login Page | Job Hiring Portal{% endblock %}
<!--Call Header-->
{% block header %}
        {% include "headers/header1.html" %}
{% endblock %}
<!--Call Footer-->
{% block footer %}
        {% include "footers/footer1.html" %}
{% endblock %}
<!--Call Main Content-->
{% block content %} 
<style>
  #right-side-image {
  background: url("{% static 'images/side-image.jpg' %}") center center / cover no-repeat;
  min-height: 100vh;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 50%;
  z-index: 0;
  backdrop-filter: blur(2px); /* Optional: soft blur effect */
}

.ambient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 123, 255, 0.2); /* Soft Bootstrap blue */
}
</style>

<main class="d-flex justify-content-between align-items-center">
  <div class="register-form">
    <form method="POST" accept="{% url 'login_user' %}">
      {% csrf_token %}
      <div class="register-content">
        <h2>Sign In</h2>
      </div>
      <div class="d-flex register-content sub-content">
        <p>Don't have account? </p>
        <a href="{% url 'register_user' %}">Sign Up Here</a>
      </div>
      <div class="d-flex flex-column register-content choices justify-content-center align-content-center align-items-center">
        <p class="text-center pt-3">Sign in as</p>
        <div class="d-flex d-flex gap-2 p-2 w-100">
            <div class="flex-fill">
                <input type="radio" name="account_type" id="applicant" value="applicant" class="btn-check" autocomplete="off" checked>
                <label for="applicant" class="btn btn-primary w-100">Applicant</label>
            </div>

            <div class="flex-fill">
                <input type="radio" name="account_type" id="employer" value="employer" class="btn-check" autocomplete="off">
                <label for="employer" class="btn btn-primary w-100">Employer</label>
            </div>
        </div>
      </div>
      <div class="register-content">
        <input type="email" placeholder="Email Address" name="email" id="email" class="custom-input-1" required>
      </div>
      <div class="register-content">
        <input type="password" placeholder="Password" name="password" id="password" class="custom-input-1" required>
      </div>
      <div class="register-content">
        <input type="submit" value="Sign In" class="btn btn-primary w-100">
      </div>
      <div id="passwordAlertContainer" class="register-content"></div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert 
                      {% if message.tags == 'error' %}
                        alert-danger
                      {% elif message.tags == 'success' %}
                        alert-success
                      {% elif message.tags == 'warning' %}
                        alert-warning
                      {% elif message.tags == 'info' %}
                        alert-info
                      {% else %}
                        alert-secondary
                      {% endif %}" 
                       role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
  <div id="right-side-image" class="w-50">
    <div class="ambient-overlay"></div>
  </div>
</main>


{% endblock %}
